### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
%load_ext sql

In [2]:
# # Remember the connection string is of the format:
# # %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# # Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://******:*******@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb?security=SSL

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
%%sql
select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [36]:
%%sql
select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA 
where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [50]:
%%sql
select CASE_NUMBER, DESCRIPTION from CHICAGO_CRIME_DATA 
where DESCRIPTION LIKE '%MINOR%'

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [59]:
%%sql
select PRIMARY_TYPE, DESCRIPTION from CHICAGO_CRIME_DATA 
where DESCRIPTION LIKE '%CHILD%' OR PRIMARY_TYPE LIKE '%CHILD%'

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('OFFENSE INVOLVI', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('OFFENSE INVOLVI', 'SEX ASSLT OF CHILD BY FAM MBR'),
 ('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [60]:
%%sql
select PRIMARY_TYPE, LOCATION_DESCRIPTION from CHICAGO_CRIME_DATA 
where LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for all types of schools.

In [39]:
%%sql
select "Elementary, Middle, or High School", AVG(safety_score) AS safety_score_AVG  from CHICAGO_PUBLIC_SCHOOLS 
GROUP BY "Elementary, Middle, or High School"

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [49]:
%%sql
select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA  
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC limit 5

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [86]:
%%sql
select COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as count_area  from CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER
order by count_area DESC limit 1

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [88]:
%%sql
select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA  
where  HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [108]:
%%sql
select COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER from CENSUS_DATA 
where  COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER
order by count(COMMUNITY_AREA_NUMBER) DESC limit 1)

 * ibm_db_sa://smj76027:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('Austin', 25)]